:root {
  --box-shadow: rgba(0,0,0,0.25) 0 0 8px;
  --font-size-small: 25px;
  --font-size-medium: 38px;
  --font-size-large: 48px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f6f6f6;
  color: #333;
}

* {
  line-height: 1.35em;
}

input {
  width: 200px;
  height: 20px;
  outline: 0;
  border: solid 1px black;
}

label {
  font-size: var(--font-size-medium);
  padding-right: 20px;
}

ul {
  padding: 0;
  min-width: 375px;
}

button {
  border: solid 3px #009fe3;
  background-color: #fff;
  color: #009fe3;
  margin: 5px 0 5px 5px;
  height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: #009fe3;
  color: #fff;
}

a {
  color: #000;
}