html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f6f6f6;
  color: #333;
}

* {
  line-height: 1.35em;
  transition: all 0.3s ease;
}

input {
  width: 200px;
  height: 20px;
  outline: 0;
  border: solid 1px #888;
  border-radius: 2px;
}

input:focus {
  border-color: #333;
}

label {
  padding-right: 20px;
}

ul {
  padding: 0;
  min-width: 375px;
}

button {
  border: solid 3px #009fe3;
  background-color: #fff;
  color: #009fe3;
  margin: 5px 0 5px 5px;
  height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #009fe3;
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.scroll-container {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.slide-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-leave-active {
  opacity: 0;
  transform: translateX(30px);
}

.fadezoom-enter-active,
.fadezoom-leave-active {
  transition: opacity 0.15s ease, transform 0.15s ease;
}

.fadezoom-enter,
.fadezoom-leave-active {
  opacity: 0;
  transform: scale(1.03);
}

.loading-indicator {
  display: block;
  margin: 80px auto;
}

.error {
  background: #d24343;
  color: white;
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
  text-align: center;
}
